.nyc_output
/*-*.*.*.tgz
coverage
dist
node_modules

# botfiles
bot-token.txt
persist
firebase-debug.log
ui-debug.log
database-debug.log
firestore-debug.log
yarn-error.log
env.*.json
mr-trading-tg-bot-test-ef3144fab5fb.json
