.nyc_output
/*-*.*.*.tgz
coverage
dist
node_modules

# Firebase files
firebase-debug.log
ui-debug.log
database-debug.log
firestore-debug.log

# YARN files
yarn-error.log

# botfiles
bot-token.txt
persist
assets/environments/*.json
assets/secrets
